<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add Users</title>

    <!-- load css pages -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'learn/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'learn/addUsers.css' %}" />

    <script type="text/javascript" href="{% static 'learn/main.js' %}"> </script>

  </head>

  <body id="body">
    <!-- Contains Everything in the Purple Header -->
    <div id="heading">
      <div id="serviceContainer">
        <img src="{% static 'learn/blackboard.png' %}" alt="oops">
        <div id="subTitle">
          <span>Ashland University</span>
        </div>
      </div>
      <div id="titleContainer">
        <div id="title">
          <form id="homeForm" method="post" action="{% url 'update' %}">{% csrf_token %}
            <input style='display: none;' name='action' value='returnHome' />
            <a onclick="submitForm()">
              <span >Self Service Tool 1000</span>
            </a>
          </form>
        </div>
      </div>
      <div id="signOutBackground">
        <div id="signOutContainer">
          <span>Hello, {{name}} </span>
          <br />
          <a href="{% url 'signout' %}" id="signOut"> Sign out</a>
        </div>
      </div>
        <table id="menu">
          <tr>
            <th id="homeCell"><a href="{% url 'index' %}"><span id="homeButton"></span></a></th>
          </tr>
        </table>
    </div>

    <!-- Contains everything below the header, it includes footer. -->
    <div id="midSection">
      <div class="pageContainer">
        <div id="pageLabelBackground">
          <div id="pageLabelContainer">
            <span id="pageLabel"> Search for one or more users to add to a Guest or TA Position</span>
          </div>
        </div>
        <span class='error_message'>{{error_message}}</span>
          <form method="post" action="{% url 'update' %}">{% csrf_token %}
              <input style='display: none;' name='action' value='addUsers' />
              <div id="searchTableContainer">
              <table id="searchTable">
                <tr>
                  <td>
                    <label>
                      <select id="searchOptions" name='searchBy'>
                        <option selected value="None">-Search By-</option>
                        <option value='userName'>User Name</option>
                        <option value='firstName'>First Name</option>
                        <option value='lastName'>Last Name</option>
                        <option value='contact'>E-Mail</option>
                        <option value='studentId'>ID Number</option>
                      </select>
                    </label>
                  </td>
                  <td><input id="searchBar" type="text" name="searchBar" placeholder="Search..." /></td>
                  <td><input id="submit" type="submit" value="Search" /></td>
                </tr>
              </table>
            </div>
          </form>
          <form method="post" action="{% url 'update' %}">{% csrf_token %}
            <table class="userTable">
              <tr id="tableHeader">
                <th><input id="checkAll" type="checkbox" onclick="check()" ></th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>User ID</th>
              </tr>
              {{ userList | safe }}
              <tr id="pagingRow">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <table>
                    <td id="pagingListCell">Page: 1</td>
                    <td id="pagingCell">
                      <div class="paging">
                        <a href="#">❯</a>
                        <a href="#">❮</a>
                      </div>
                    </td>
                  </table>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input id="add" type="submit" name="action" value="Add" /></td>
              </tr>
            </table>
        </form>
      </div>
    </div>

    <div id="footer">
      <span id="footerText">For Assistance Call: 419.289.5405</span>
    </div>

        <script type="text/javascript">

          document.getElementById('searchOptions').selectedIndex ={{ optionIndex | safe}};

          function check() {
            var x = document.getElementsByClassName('userCheckbox');
            isChecked = document.getElementById('checkAll').checked;

            if(isChecked){
              for (var i = 0; i < x.length; i++) {
                x[i].checked = true;
              }

            }

            else {
              for (var i = 0; i < x.length; i++) {
                x[i].checked = false;
              }
            }
          }

        </script>

  </body>

</html>
