<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Courses</title>

    <!-- load css pages -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'learn/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'learn/statsResults.css' %}" />

    <script type="text/javascript" href="{% static 'learn/main.js' %}"> </script>

  </head>

  <body id="body">

    <!-- Contains Everything in the Purple Header -->
    <div id="heading">
      <div id="serviceContainer">
        <img src="{% static 'learn/blackboard.png' %}" alt="oops">
        <div id="subTitle">
          <span>Ashland University</span>
        </div>
      </div>
      <div id="titleContainer">
        <div id="title">
            <a href="{% url 'index' %}">
              <span >Self Service Tool 1000</span>
            </a>
        </div>
      </div>
      <div id="signOutBackground">
        <div id="signOutContainer">
          <span>Hello, {{name}} </span>
          <br />
          <a href="{% url 'signout' %}" id="signOut"> Sign out</a>
        </div>
      </div>
        <table id="menu">
          <tr>
            <th id="homeCell"><a href="{% url 'index' %}"><span id="homeButton"></span></a></th>
            <th id="statsCell"><a href="{% url 'stats' %}"><span id="statsButton"></span></a></th>
          </tr>
        </table>
    </div>

    <!-- Contains everything below the header, it includes footer. -->
    <div id="midSection">
      <div id="pageContainer">
        <div id="pageLabelBackground">
          <div id="pageLabelContainer">
            <span id="pageLabel">{{ label | safe }}</span>
          </div>
        </div>
        <table>
          <tr>
            <td class="titleCell"><span>Unique Students:</span></td>
            <td>{{ unique_student_count }}</td>
          </tr>
          <tr>
            <td class="titleCell"><span>Total Students:</span></td>
            <td>{{ total_student_count }}</td>
          </tr>
          <tr>
            <td class="titleCell"><span>Total Teaching Assistants:</span></td>
            <td>{{ total_ta_count }}</td>
          </tr>
          <tr>
            <td class="titleCell"><span>Total Guests:</span></td>
            <td>{{ total_guest_count }}</td>
          </tr>
        </table>

      </div>
    </div>

    <div id="footer">
      <span id="footerText">For Assistance Call: 419.289.5405</span>
    </div>
  </body>

</html>
