
/*Styles the outer border that contains this pages contents*/
#viewUsersContainer{

  display: block;
  top:35;
  margin-left: auto;
  margin-right: auto;
  width: 710px;
  border: solid;
  border-color: #4C3059;
  overflow:none;
  height: 10%;
}

/*Places the purple background for the Homepage background*/
#viewUsersLabelBackground{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 35px;
  top:0px;
  left: 0px;
  background-color: #66137c;
}

/*Contains the label for the homepage and styles it with an opaque black color*/
#viewUsersLabelContainer{

  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

/*It is the label of the homepage*/
#viewUsersLabel{

  position: relative;
  top: 7px;
  left: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/*Styles the last row in the table containing the select all
and Remove button.*/
#pagingRow{

  border-top: solid;
  border-width: 2px;
}

#submit{


  left: 25px;
  width: 70px;
  height: 20px;
  background-color: white;
  border: solid;
  border-width: thin;
  border-color: grey;
  border-radius: 5px;
  font-size: 15px;
  line-height: 15px;
}

.paging a {
    color: black;
    float: right;
    padding: 2px 6px;
    margin:0 5px 5px 0;
    font-size: 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

input[type=checkbox] {

    position: relative;
    display: inline-block;
    transform: scale(1.3);
    background-color: #eee;
    border-radius: 10%;
}

.user{

    -webkit-border-radius: 5px;
    display: inline;
    vertical-align: middle;
    margin-left: 2px;
    width: auto;
    height: 25px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: grey;
}

table{
  width: 100%;
  border-collapse: collapse;
}

td{
  text-align: center;
}

td#checkBoxCell{
  width: 30px;
}

td#pagingListCell{

  float: right;
}

td#pagingCell{

  margin-top: 30px;
}
