
/*Styles the last row in the table containing the select all
and Remove button.*/
#submitRow{

  border: solid;
  border-width: 2px;
  border-bottom: none;
}

.pageContainer{
  border: none;

}

#submit{


  float: right;
  height: 30px;
  width: 90px;
  background-color: white;
  border: solid;
  border-width: thin;
  border-color: grey;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 20px;
  line-height: 15px;
}

#submit:hover{
  transform: scale(1.01);
  border-color: black;
}

.submitRow{


  margin-top: -50px;
  height: 30px;
  border: solid;

}

input[type=checkbox] {

    position: relative;
    display: inline-block;
    transform: scale(1.3);
    background-color: #eee;
    border-radius: 10%;
}

.courseName{
  text-align: center;
  font-weight: bold;
  border-bottom: solid;
  border-width: medium;
  border-color: black;
  padding-top: 5px;
  font-size: 25px;
  background-image: url(texture.png);
  color: white;
}



.userTable{
  border: solid;
  border-color: black;
}

div.tableBreak{

  display: block;
  height:50px;
  width: 100%;
}


.user{

    -webkit-border-radius: 5px;
    display: inline;
    vertical-align: middle;
    margin-left: 2px;
    width: auto;
    height: 25px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: grey;
}

table{
  width: 100%;
  border-collapse: collapse;
}

td, th{
  text-align: left;
  padding: 0;
}

td.TAColumn, th.TAColumn, td.guestColumn, th.guestColumn, td.cancelColumn, th.cancelColumn{

  width: 50px;
}

td.userNameColumn, th.userNameColumn{

  border-left:solid;
  border-width: thin;
  padding-left: 10px;
  padding-right: 10px;

}

td#submit{
  text-align: center;
  width: 30px;
}

tr{

  border: solid;
  border-width: thin;
}
